.qr{
    margin-left: 39%;
}
h4{
    color: brown;
}
.container{
    border: 3px solid goldenrod;
    background-color: lightyellow;
    display: flex;
    border-bottom: 3px solid lightyellow;
}
.logo{
    margin-left: 40%;
}
.content{
    border: 3px solid goldenrod;
    background-color: lightyellow;
    border-top: 3px solid lightyellow;
}
h1{
    text-align: center;
    color:brown;
    font-size: 40px;;
}
h2{
    text-align: center;
    color: brown;
    font-size: 20px;
}
h3{
    color:goldenrod;
    font-size: 35px;
    text-align: center;
}
table.details{
    border: 1px solid goldenrod;
    border-bottom: 3px solid lightyellow;
}
th{
    width: 700px;
    border-collapse: collapse;
    border: 3px solid goldenrod;
}
h5{
    color: brown;
    font-size: 17px;
}
table.enter{
    border-top: 1px solid lightyellow;
}
td{
    border: 1px solid goldenrod;
    text-align: center;
    color: brown;
}
.display{
    border: 3px solid goldenrod;
    color: brown;
    font-size: 23px;
}
input{
    width: 45px;
    height: 20px;
}
.sign{
    text-align: end;
    font-size: 20px;
    font-weight: bolder;
    color: brown;
    margin-right: 40px;
}
.date{
    font-size: 20px;
    font-weight: bolder;
    color:brown ;
    margin-left: 40px;
}
.info{
    border-bottom: 3px solid goldenrod;
}
.college{
    text-align: center;
}